<div class="navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <!-- <span id="nav-icons"><i class="fas fa-fire"></i>  -->
    <h1 id="fyre"> FYRE</h1></span>
  <% end %>


</div>
