.insta-post {
  margin: 15px;
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}

.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}
