<h1 class="mt-5">Welcome to Instagrum</h1>

<p class="lead">The best ever clone of Instagram!</p>

<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign In", new_account_session_path, class: "btn btn-secondary" %>
